{% extends "base.html" %}
{% load staticfiles %}


{% block links_templates %}


<link rel="stylesheet" href="{% static 'css/nueva_entrada.css' %}">

{% endblock links_templates %}

{% block titulo %}
Nueva Entrada  
{% endblock titulo %}


{% block contenido %}
    <form action="{% url 'publicaciones:nueva' %}" method="post" class="formulario grande" enctype="multipart/form-data" novalidate="">
        {% csrf_token %}
        {{form.media}}
        {{form}}
        <input type="submit" value="Guardar" class="boton">
    </form>
{% endblock contenido %}


{% block scripts_extra %}

{% endblock scripts_extra %}


